# Dependencies
node_modules/
package-lock.json

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# Credentials
cypress/fixtures/credenciales.json
cypress/plugins/serviceAccountKey.json

